
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Courses
                    <small>Listing courses</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                      <%= link_to 'Home', home_index_path %>
                    </li>
                    <li class="active">Courses</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <% @courses.each do |course| %>
            <!-- Blog Post Row -->
            <div class="row">
                <div class="col-md-1 text-center">
                    <p><i class="fa fa-camera fa-4x"></i>
                    </p>
                    <p><%= course.created_at.strftime("%d %b %Y") %></p>
                    <p><%= course.created_at.strftime("%H:%M") %></p>
                </div>
                <div class="col-md-5">
                    <a href="blog-post.html">
                        <img class="img-responsive img-hover" src="http://placehold.it/600x300" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <h3>
                        <%= link_to course.title, course %>
                    </h3>
                    <p>by <%= "#{course.user.first_name} #{course.user.last_name}" %>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <%= link_to(course) do %>
                    <span class='btn btn-primary'>Read More <i class="fa fa-angle-right"></i></span>
                    <% end %>

                </div>

            </div>
            <br>
            <% if can?(:edit, course) || can?(:destroy, course) %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Instructor Options</h3>
              </div>
              <div class="panel-body">
              <div class="btn-group">
                      <ul  class="nav nav-pills">
                  <% if can? :edit, course %>
                  <li>
                  <%= link_to 'Edit', edit_course_path(course), {:class => 'btn btn-warning'} %>
                </li>
                  <% end %>

                  <% if can? :destroy, course %>
                  <li>
                  <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </li>
                  <% end %>
          </ul>
              </div>
              </div>
            </div>
            <% end %>

            <!-- /.row -->
            <hr>
            <hr>
        <% end %>
        <!-- Pager -->
        <%= paginate @courses %>
        <!-- /.row -->
<hr>
<% if can? :create, :course %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Course</h3>
  </div>
  <div class="panel-body">
    <%= link_to 'New Lecture', new_lecture_path, {:class => 'btn btn-primary'} %>
    <%= link_to 'New Course', new_course_path, {:class => 'btn btn-info'} %>
    
  </div>
</div>

<% end %>
